footer{
    background-image: linear-gradient(to right,  #8c678f,  #37406C, #37384E, #211d2e);
    padding: 30px ;
    width: 98%;
    margin: 0 auto 4px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.CR-text{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;

}